/* Main */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root{
  --h1:48rem;
  --h2:38rem;
  --h3:32rem;
  --t-primary:18rem;
  --t-secondary: 16rem;
  --radius-container: 18rem;
}

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  --button-color-main: rgb(255, 189, 82);
}

body, html{
	font-size: 0.05787037037vw;
  /* default
  font-size: 0.05787037037vw;
  */
}
.w-embed svg{
	width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
html.stopped{
	height: 100vh;
  overflow: hidden;
}
@media only screen and (min-width: 1640px) {
  body, html{
      font-size: 1px;
 /* Default = 1px
 		Default size: 1920px
 */
  }
  
}
@media only screen and (max-width: 991px) {
  body, html{
    font-size: 0.13vw;
  }
}
@media only screen and (max-width: 767px) {
  body, html{
    font-size: 0.176vw;
  }
}
@media only screen and (max-width: 477px) {
  body, html{
    font-size: 0.266vw;
  }
}
*{
	-webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6{
  font-feature-settings: 'salt' on;
}
p, td, tr, tbody, span, div{font-size: var(--t-primary);}

a{
	color: inherit;
  text-decoration: none;
  display: block;
}

.main-container {
  display: grid;
  grid-template-columns: 300rem auto;
  grid-template-rows: auto;
  grid-template-columns: repeat(2);
  width: 100%;
  min-height: 100vh;
}
.hero {
  background-image: linear-gradient(25deg, #628bbe 10%, #79CBCA  71%, #77A1D3  100%);
  border-radius: var(--radius-container);
  display: flex;
  height: 200rem;
  width: 100%;
  padding: 0 0 0 25rem;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.hero > .hero-text-wrap > h2 {
  color: rgb(255, 255, 255);
  font-size: var(--h1)
}

.hero > .hero-text-wrap > p {
  text-align: left;
  font-size: var(--t-primary);
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.form-container {
height: 110rem;
padding: 25rem 30rem;
}

.form-container > .form {
  display: flex;
  height: 100%;
}
.form-container > .form > .input-wrap{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0rem 10rem 0 0;
  gap: 5rem;
}
.form-container > .form > .input-wrap> .text-field-wrap{
  height: 100%;
}
.form-container > .form > .input-wrap> .text-field-wrap > .text-field {
  padding: 10rem 20rem;
  width: 100%;
  height: 100%;
  border-radius: 8rem;
  border: none
}

.form-container > .form > button {
  align-self: center;
  width: 200rem;
  border: none;
  min-height: 100%;
  border-radius: 8rem;
  font-size: var(--t-primary);
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);            
  transition: 0.5s;
  background-size: 300% auto;
  background-image: linear-gradient(15deg, #ffffff00 0%, #ffffff  71%, #ffffff00  100%);
}

.form-container > .form > button:hover {
  background-position: right center;
  color: rgba(0, 0, 0, 0.9);  
}


/* Main End*/
/* Controllers list */
.controllers-list-component{
  color: #ffffff;
  border-radius: var(--radius-container);
  border: 1rem solid rgba(0, 0, 0, 0.1);
  padding: 20rem 10rem;
}

.controllers-list {
  width: 100%;
  border: 1rem solid rgba(128, 128, 128, 0.5);
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}

.controllers-list{
  border: none;
}
.controllers-list > tbody > .controller-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 0;
  color: white;
}
.controllers-list > tbody > tr > td {
  color: rgba(0, 0, 0, 0.8);
}


.controllers-list > tbody > .head {
  font-weight: 500;
  background-color: none;
  border-radius: 6rem 6rem 0 0 ;
}
.controllers-list > tbody > .head > td{
  background-color: hsla(179, 44%, 64%, 0.2);
  padding: 15rem;
  margin: 0 5rem;
  border-radius: 12rem;
}

.controllers-list > tbody > .controller-line > .controller-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.controllers-list > tbody > .controller-line > .controller-cell button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1rem solid rgba(0, 0, 0, 0.1);
  font-size: var(--t-primary);
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 4rem;
  transition: all 0.2s;
  width: 100%;
  margin: 0 10rem;
  height: 35rem;
  cursor: pointer;
}
.controllers-list > tbody > .controller-line > .controller-cell button:hover {
  background-color: rgba(0, 0, 0, 0.025);
  border: 1rem solid rgb(79, 114, 255, 0.5);
  color: rgb(79, 114, 255);
  box-shadow: inset 0px 0px 2px 0px rgb(79, 114, 255, 0.5);
  
}

/* Controllers list End*/

/* Controllers Display */

.page-nav-container {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.page-nav-container button {
  border: 1rem solid rgba(0, 0, 0, 0.1);
  padding: 8rem 16rem;
  border-radius: 8rem;
  font-size: var(--t-primary);
  background-color: transparent;
  transition: all 0.2s;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.page-nav-container button:hover{
  border: 1rem solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.025);
  border: 1rem solid rgb(79, 114, 255, 0.5);
  color: rgb(79, 114, 255);
  box-shadow: inset 0px 0px 2px 0px rgb(79, 114, 255, 0.5);
}

/* Controllers Display End */

.update-container {
  margin-top: 40rem;
  width: 100%;
  padding: 0 20%;
  border: 1rem solid grey;
}

.update-container > .container-column {
  position: relative;
  display: flex;
  padding: 40rem 10%;
  align-items: center;
  justify-content: center;
  border: 1rem solid grey;
  flex-flow: column nowrap;
  gap: 5rem;
}

.update-container > .container-column > .controller-id {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: var(--h3);
}

.update-container > .container-column > input {
  width: 100%;
  padding: 10rem 20rem;
  border-radius: 12rem;
  border: 1rem solid rgb(160, 160, 160);
}

.update-container > .container-column > .status {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: var(--h3)
}

.update-container > .container-column > button {
  width: 100%;
  padding: 10rem 20rem;
  margin-top: 5rem;
  width: 100%;
  border: none;
  border-radius: 12rem;
  font-size: var(--t-primary)
}
.update-container > .container-column > .exit-modal {
  position: absolute;
  user-select: none;
  cursor: pointer;
  line-height: 10rem;
  color: white;
  font-weight: bold;
  right: 10rem;
  top: 10rem;
  padding: 15rem;
  border-radius: 8rem;
  background-color: rgba(128, 128, 128, 0.4);
}
@media only screen and (max-width: 991px) {
  :root{
    --h1:42rem;
    --h2:32rem;
    --h3:32rem;
    --t-primary:12rem;
    --t-secondary: 10rem;
  }
  .form-container {
    height: 90rem;
    padding: 25rem 20rem;
    }

  .hero {
    background-image: linear-gradient(25deg, #628bbe 10%, #79CBCA  71%, #77A1D3  100%);
    border-radius: var(--radius-container);
    display: flex;
    height: 200rem;
    width: 100%;
    padding: 0 0 0 25rem;
    justify-content: center;
    flex-flow: column nowrap;
  }
  .controllers-list > tbody > .controller-line > .controller-cell button {
    border-radius: 4rem;
    transition: all 0.2s;
    width: 100%;
    height: 25rem;
    cursor: pointer;
  }
  .controllers-list > tbody > .head > td{
    background-color: hsla(179, 44%, 64%, 0.2);
    padding: 7rem 5rem;
    margin: 0 2rem;
    border-radius: 6rem;
  }
  .row {
    width: 100%;
  }
  .hero-text-wrap > h2 {
    text-align: center;
  }
  .form-container > .form > .text-field {
    padding: 7rem 16rem;
    width: 100%;
    border-radius: 8rem;
    border: 1rem solid rgb(213, 213, 213);
  }
.main-container {
  grid-template-columns: 100rem auto;
}
.page-nav-container button {
  padding: 6rem 12rem;
  border-radius: 8rem;
}
}
@media only screen and (max-width: 767px) {
  .main-container {
    grid-template-columns: 100%;
  }
  .row {
    width: 100%;
  }
}
@media only screen and (max-width: 477px) {
  .row {
    width: 100%;
  }
}