@import "./Global.css";
* {
  font-family: var(--primary-font);
  font-weight: 800;
  color: rgb(54, 54, 54);
}
#root {
  width: 100%;
}
.layout{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;

}